/* =====================================
    MEDIA QUERIES.
===================================== */
@media (max-width: 1600px) {
  .feature-right-content {
    width: 90%;
    padding-left: 4rem;
  }

  .feature-right-content-alt {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    padding-left: 3rem;
  }
}
@media (max-width: 1400px) {
  .slider-caption {
    padding: 0px 50px;
  }

  .tbw-headline {
    max-width: 90%;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0px;
  }

  .content-left-layer {
    width: 60%;
  }

  .inner-cll {
    width: 80%;
    padding-right: 35%;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 95%;
  }

  .feature-right-content-alt {
    width: 90%;
  }

  .shadow-box {
    margin: 0px 15px;
    min-width: 250px;
  }
}
@media (max-width: 991px) {
  h1 {
    font-size: 40px;
    line-height: 45px;
  }

  h2 {
    font-size: 30px;
    line-height: 35px;
  }

  h3 {
    font-size: 25px;
    line-height: 30px;
  }

  h4 {
    font-size: 20px;
    line-height: 25px;
  }

  h5 {
    font-size: 16px;
    line-height: 24px;
  }

  h6 {
    font-size: 14px;
    line-height: 18px;
  }

  .col-footer {
    margin: 1rem 0rem;
  }

  .slider-caption .title {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 20x;
  }

  .hero-slider .flickity-prev-next-button {
    width: 45px;
    height: 45px;
  }

  .ttc-wrapper {
    height: 100%;
    padding-bottom: 50px;
  }

  .ttc-carousel {
    position: relative;
    margin: 55px 0px;
  }

  .ttc-avatar {
    margin-left: auto;
    margin-right: auto;
  }

  .ttc-carousel p {
    text-align: center;
  }

  .ttc-carousel h5 {
    text-align: center;
  }

  .ttc-carousel p.profession {
    text-align: center;
  }

  .ttc-carousel .owl-theme .custom-nav {
    position: absolute;
    bottom: -20px;
    right: 50%;
    left: 50%;
    z-index: 1;
  }

  .ws-feature-left {
    height: 500px;
  }

  .ws-feature-right {
    height: auto;
    margin: 0px;
  }

  .layer-box {
    padding: 15px;
    margin: 10px 0px;
  }

  .layer-box .media .mr-3 {
    width: 50px;
  }

  .ws-feature-left {
    height: 500px;
  }

  .ws-feature-right {
    height: auto;
    margin: 0px;
  }

  .feature-right-content {
    margin: 0;
    position: relative;
    top: 0%;
    transform: translateY(0%);
    width: 100%;
    padding: 50px 30px;
  }

  .layer-box {
    padding: 15px;
    margin: 10px 0px;
  }

  .layer-box .media .mr-3 {
    width: 50px;
  }

  .ws-box-services {
    margin: 25px 0px;
  }

  .ws-parallax-services {
    height: 100%;
    margin-top: 0px;
    padding: 60px 0px;
  }

  .pop-counter-content {
    position: relative;
    top: 25%;
    left: 0%;
    transform: translate(0%, 0%);
    text-align: center;
    padding: 0px 25px;
  }

  .right-border {
    border-right: none;
  }

  .counter-layer {
    padding: 25px 0px;
  }

  .tbw-headline {
    max-width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
    top: 15%;
    left: 0%;
    transform: translate(0%, 0%);
    text-align: center;
    padding: 0px 15px;
  }

  .about-testimonials {
    margin: 0px;
    position: relative;
    top: 0%;
    transform: translateY(0%);
    padding-right: 0rem;
  }

  .grid-sizer,
.grid-box {
    width: 49%;
  }

  .cover-feature {
    box-shadow: none;
  }

  .gallery-carousel {
    position: relative;
    height: 400px;
  }

  .gallery-slider-bg {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .cf-content {
    margin: 0px;
    top: 0;
    position: relative;
    transform: translateY(0%);
    padding: 30px 0px;
  }

  .ww-counter {
    padding: 50px 0px;
    margin-top: 3rem;
  }

  .ww-counter .counter-layer {
    margin: 15px 0px;
  }

  .cta-left-content {
    padding: 0px 15px;
  }

  .cta-left-content h3 {
    text-align: center;
  }

  .cta-left-content p {
    text-align: center;
  }

  .cta-right-content {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 25px;
  }

  .wide-cta-banner {
    margin-top: -50px;
    padding: 100px 0px 100px 0px;
    height: 100%;
  }

  .cta-right-content .btn-washla {
    margin-top: 20px;
  }

  .about-front {
    padding: 0px;
  }

  .mission-layer {
    bottom: 30px;
    left: 30px;
  }

  .ws-feature-left-alt {
    height: 500px;
  }

  .ws-feature-right-alt {
    height: auto;
    margin: 0px;
  }

  .feature-right-content-alt {
    margin: 0;
    position: relative;
    top: 0%;
    transform: translateY(0%);
    width: 100%;
    padding: 50px 25px;
  }

  .layer-box-alt {
    padding: 15px;
    margin: 10px 0px;
  }

  .layer-box-alt .media .mr-3 {
    width: 50px;
  }

  .label-layer {
    display: flex !important;
    position: absolute;
    bottom: 25px;
    right: 0;
    padding: 10px 15px;
  }

  .counter-col-layer {
    margin: 25px 0px;
  }

  .content-left-layer {
    width: 100%;
  }

  .inner-cll {
    width: 100%;
    padding-right: 0%;
    float: right;
    position: relative;
  }

  .ws-washla {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0px;
  }
}
@media (max-width: 767px) {
  .top-header-wrapper {
    display: none;
  }

  .slider-caption .title {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 15x;
  }

  .pages-hero {
    height: 500px;
  }

  .pages-title {
    top: 55%;
  }

  .error-page-content {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    transform: translate(0%, 0%);
    text-align: center;
    color: #FFF;
    padding: 0rem 5rem;
  }

  .btn-lg {
    padding: 6px 25px;
    font-size: 16px;
    line-height: 30px;
  }

  .block-inline-box {
    display: block !important;
  }

  .shadow-box {
    min-width: 100%;
    margin: 20px 0px;
  }

  .service-box-layer {
    margin: 10px 0px;
  }

  .sb-layer-section {
    padding: 0px;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .pages-title {
    top: 45%;
    left: 0%;
    right: 0%;
    transform: translate(0%, 0%);
    padding: 0px 30px;
  }

  .error-page-content {
    position: absolute;
    padding: 0rem 3rem;
  }

  .error-page-content h1 {
    font-size: 6rem;
  }

  .grid-sizer,
.grid-box {
    width: 100%;
  }

  .grid-two-col .grid-sizer,
.grid-two-col .grid-box {
    width: 100%;
  }

  .grid-four-col .grid-sizer,
.grid-four-col .grid-box {
    width: 100%;
  }

  .cf-content .d-flex {
    display: block !important;
  }

  .cfb-inner {
    margin-bottom: 15px;
  }

  .content-left-layer {
    padding: 0px 25px;
  }

  .ws-washla {
    height: 550px;
  }

  .content-left-layer .d-flex {
    display: block !important;
  }
}
@media (max-width: 480px) {
  .hero-slider .flickity-prev-next-button {
    display: none;
  }

  .slider-caption .title {
    font-size: 35px;
    line-height: 38px;
  }

  .slider-caption {
    padding: 0px 15px;
  }

  .layer-box {
    padding: 0px;
    margin: 30px 0px;
  }

  .feature-right-content .d-flex {
    display: block !important;
    display: block !important;
  }

  .box-content {
    margin-top: 20px;
  }

  .inner-bc {
    margin: 15px 0px;
  }

  .counter-bar {
    margin-top: 0px;
    position: relative;
    background-color: #FFF;
    padding: 20px;
    box-shadow: none;
  }

  .wp-pop-counter {
    height: 100%;
    padding: 120px 0px 80px;
  }

  .about-info-layer .d-flex {
    display: block !important;
    display: block !important;
  }

  .bl-contact {
    padding: 0px;
    margin-top: 15px;
    border-left: none;
  }

  .ai-banner {
    padding: 12px 10px 10px 10px;
    width: 100%;
    position: relative;
  }

  p.right {
    text-align: center;
  }

  .footer-social {
    text-align: center;
    margin-top: 15px;
  }

  .footer-social li {
    margin: 0px 5px;
  }

  .np-caption {
    background-color: #FFF;
    border-bottom: solid 3px var(--secundary-color);
    padding: 25px;
    margin: 25px 0px 0px;
  }

  .team-layer-up {
    margin-top: 30px;
  }

  .team-banner-wrapper .section-heading {
    padding-top: 0px;
  }

  .team-banner-wrapper {
    height: 100%;
    padding: 50px 0px;
  }

  .mission-layer {
    position: relative;
    padding: 25px;
    bottom: 0px;
    left: 0px;
    top: 40px;
    margin-bottom: 30px;
    width: 100%;
    border-radius: 5px;
  }

  .layer-box-alt {
    padding: 0px;
    margin: 30px 0px;
  }

  .comment-box .media {
    display: block !important;
  }

  .signature-layer {
    display: block !important;
  }

  .front-contact-layer {
    margin-top: 15px;
  }
}
